@charset "UTF-8";

:root {
    --page-padding: 25%;
    --section-padding: 35px 0;
    --border-bottom: 1px solid #ccc;
}

/* Themes: I first chose a purple (lavender) theme, but eventually decided to switch to a beige theme. */
[data-theme="beige"] {
    --color-primary: #24130b;
    --color-accent: #EDE8E8;
    --color-bg-light: #edebdf;
    --color-text: #311f15;
    --color-bg-muted: #efefef;
}

[data-theme="lavender"] {
    --color-primary: #240046;
    --color-accent: #b09ac4;
    --color-bg-light: #FAF6FDFF;
    --color-text: #6f6f6f;
    --color-bg-muted: #F2F2F2;
}

* {
    box-sizing: border-box;
    font-family: "Jost", "Arial", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 1.2em sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.page-body {
    flex-grow: 1;
}

h1, h2, h3, h4 {
    color: var(--color-primary);
    font-family: "Baskerville Old Face", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    margin-top: 0;
}

h3 {
    font-size: 30px;
}

h3.product-title {
    font-size: 23px;
}

p, a {
    font-size: 20px;
}

p {
    color: var(--color-text);
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}


.page-header,
.page-footer {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    position: sticky;
    top: 0;
}

.page-footer {
    padding-top: 10px;
}

.header-nav {
    padding-inline: var(--page-padding);
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-nav, .header-nav-link, .footer-nav-link {
    display: flex;
    padding: 5px 10px 10px 10px;
    color: var(--color-bg-light);
    text-decoration: none;
    font-size: 18px;
    margin-top: 7px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.footer-content, .footer-nav-link {
    display: flex;
    justify-content: center;
    margin: 2px;
}

a.header-nav-link,
a.footer-nav-link {
    color: var(--color-bg-light);
    transition: color .2s ease;
}

a.header-nav-link:hover,
a.footer-nav-link:hover {
    color: var(--color-accent);
    transform: translateY(-1px);
}

.logo {
    height: 90px;
    max-width: fit-content;
    max-height: fit-content;
    margin-right: auto;
    padding-bottom: 15px;
}

.copyright {
    color: #ccc;
    font-size: 18px;
    font-style: italic;
}

